Repository felipemotarocha/club-ecommerce-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

.lintstagedrc.json:

{
  "*.ts": ["yarn eslint --ext .ts --fix", "git add ."],
  "*.tsx": ["yarn eslint --ext .tsx --fix", "git add ."]
}

chore: add git commit message linter setup
  .husky/commit-msg
  package.json
  src/App.tsx
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

chore: change eslint rule to off
  .eslintrc.json
Due: none

feat: change global styles and add Poppins font
  public/index.html
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/reportWebVitals.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add Header Component
  package.json
  src/App.tsx
  src/components/header/header.component.tsx
  src/components/header/header.styles.css
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Home Page and React Router DOM
  package.json
  src/App.tsx
  src/pages/home/home.page.tsx
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

feat: add env config file
  .gitignore
  .lintstagedrc.json
  src/config/env.config.ts
Due: yarn eslint --ext .ts --fix, git add .

feat: add Category Type
  src/types/category.types.ts
Due: yarn eslint --ext .ts --fix, git add .

feat: add Categories Component
  package.json
  src/components/categories/categories.component.tsx
  src/components/categories/categories.styles.css
  src/pages/home/home.page.tsx
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Category Item Component
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.css
Due: git add ., yarn eslint --ext .tsx --fix

style: change Home Page div to Fragment
  src/pages/home/home.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix

fix: update Category Item background image
  src/components/category-item/category-item.component.tsx
Due: git add ., yarn eslint --ext .tsx --fix

feat: show CategoryItem for each Category
  src/components/categories/categories.component.tsx
  src/components/categories/categories.styles.css
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Theme Colors file
  src/theme/theme.colors.ts
Due: yarn eslint --ext .ts --fix, git add .

refactor: add Styled Components to Header Component
  package.json
  src/components/header/header.component.tsx
  src/components/header/header.styles.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

refactor: add Styled Components to Categories Component
  src/components/categories/categories.component.tsx
  src/components/categories/categories.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

refactor: add Styled Components to Category Item Component
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

refactor: remove all unused CSS files
  src/components/categories/categories.component.tsx
  src/components/categories/categories.styles.css
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.css
  src/components/header/header.component.tsx
  src/components/header/header.styles.css
Due: git add ., yarn eslint --ext .tsx --fix

feat: add initial Login Page and Login Route
  src/App.tsx
  src/components/header/header.component.tsx
  src/components/header/header.styles.ts
  src/pages/login/login.page.tsx
  src/pages/login/login.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add Custom Button Component
  src/components/custom-button/custom-button.component.tsx
  src/components/custom-button/custom-button.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add Custom Button to Login Page
  src/components/custom-button/custom-button.component.tsx
  src/pages/login/login.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Custom Input Component
  src/components/custom-input/custom-input.component.tsx
  src/components/custom-input/custom-input.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add Custom Input to Login Page
  src/pages/login/login.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Login Page email and password labels
  src/pages/login/login.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix

feat: add React Hook Form validation to Login Page and Custom Input
  package.json
  src/components/custom-input/custom-input.component.tsx
  src/pages/login/login.page.tsx
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Input Error Message Component
  src/components/input-error-message/input-error-message.component.tsx
  src/components/input-error-message/input-error-message.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add error messages to Login Page and custom email validation
  package.json
  src/pages/login/login.page.tsx
  yarn.lock
Due: git add ., yarn eslint --ext .tsx --fix

feat: add Sign Up Page and inputs validations
  src/App.tsx
  src/components/header/header.component.tsx
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/pages/sign-up/sign-up.styles.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add Login Page React Hook Form types
  src/pages/login/login.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix

chore: add firebase and firestore config
  package.json
  src/config/firebase.config.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, git add .

chore: disable space-before-function-paren eslint rule
  .eslintrc.json
Due: none

feat: add Product type
  src/types/category.types.ts
  src/types/product.types.ts
Due: yarn eslint --ext .ts --fix, git add .

feat: add Category Converter
  src/converters/category.converter.ts
Due: yarn eslint --ext .ts --fix, git add .

feat: ensure Categories are fetched from Firestore
  src/components/categories/categories.component.tsx
Due: git add ., yarn eslint --ext .tsx --fix

chore: add firebase configuration
  package.json
  src/config/firebase.config.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, git add .

feat: add script that populates firestore db
  src/scripts/firestore-script.js
Due: none

chore: disable eslint rule
  .eslintrc.json
Due: none

feat: get categories from firestore db
  src/components/categories/categories.component.tsx
  src/converters/firestore.converters.ts
  src/types/category.types.ts
  src/types/product.types.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

chore: initialize firebase auth
  src/config/firebase.config.ts
Due: yarn eslint --ext .ts --fix, git add .

feat: add user account creation
  src/pages/sign-up/sign-up.page.tsx
  src/types/user.types.ts
Due: yarn eslint --ext .ts --fix, git add ., yarn eslint --ext .tsx --fix

feat: add account creation firebase validations
  src/pages/sign-up/sign-up.page.tsx
Due: git add ., yarn eslint --ext .tsx --fix
