Repository felipemotarocha/club-ecommerce-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add login
  src/pages/login/login.page.tsx
Due: yarn eslint --ext .tsx --fix

feat: add auth state listener and sign out button
  src/App.tsx
  src/components/header/header.component.tsx
Due: yarn eslint --ext .tsx --fix

feat: add login with google
  src/config/firebase.config.ts
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/types/user.types.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add UserContext
  src/contexts/user.context.tsx
  src/index.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure User Context is updated on onAuthStateChanged
  src/App.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure login, account creation and sign out button are shown based on authentication state
  src/components/header/header.component.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure login and sign up page redirects if user is authenticated
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
Due: yarn eslint --ext .tsx --fix

feat: add initializing state to app
  src/App.tsx
Due: yarn eslint --ext .tsx --fix

feat: add home navigation to logo click
  src/components/header/header.component.tsx
  src/components/header/header.styles.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add User Firestore Converter
  src/App.tsx
  src/converters/firestore.converters.ts
  src/types/user.types.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Loading component on App initializing
  package.json
  src/App.tsx
  src/components/loading/loading.component.tsx
  src/components/loading/loading.styles.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add loading to Login page
  src/pages/login/login.page.tsx
Due: yarn eslint --ext .tsx --fix

feat: add loading to Sign Up page
  src/pages/sign-up/sign-up.page.tsx
Due: yarn eslint --ext .tsx --fix

feat: add Category Context
  src/components/categories/categories.component.tsx
  src/contexts/category.context.tsx
  src/index.tsx
Due: yarn eslint --ext .tsx --fix

feat: add Explore Page and initial Categories Overview Component
  src/App.tsx
  src/components/categories-overview/categories-overview.component.tsx
  src/components/categories-overview/categories-overview.styles.ts
  src/components/header/header.component.tsx
  src/pages/explore/explore.page.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Category Overview Component
  src/components/categories-overview/categories-overview.component.tsx
  src/components/category-overview/category-overview.component.tsx
  src/components/category-overview/category-overview.styles.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Product Item Component
  src/components/category-overview/category-overview.component.tsx
  src/components/product-item/product-item.component.tsx
  src/components/product-item/product-item.styles.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Loading to Categories Overview
  src/components/categories-overview/categories-overview.component.tsx
Due: yarn eslint --ext .tsx --fix

feat: add Category Details page and Component
  src/App.tsx
  src/components/category-details/category-details.component.tsx
  src/components/category-details/category-details.styles.ts
  src/components/category-item/category-item.component.tsx
  src/pages/category-details/category-details.page.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Cart Context
  src/contexts/cart.context.tsx
  src/index.tsx
  src/types/cart.types.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Cart Component
  src/App.tsx
  src/components/cart/cart.component.tsx
  src/components/cart/cart.styles.ts
  src/components/header/header.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Cart Item Component and update Product Item
  src/components/cart-item/cart-item.component.tsx
  src/components/cart-item/cart-item.styles.ts
  src/components/cart/cart.component.tsx
  src/components/product-item/product-item.component.tsx
  src/components/product-item/product-item.styles.ts
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: handle multiple products of the same id on cart
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure products can be removed from cart
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure products can have their quantity updated on cart
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: ensure products can have their quantity decreased on cart
  src/components/cart-item/cart-item.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: add total products price to cart
  src/components/cart/cart.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: add products count to cart
  src/components/header/header.component.tsx
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

feat: add empty message to cart
  src/components/cart/cart.component.tsx
Due: yarn eslint --ext .tsx --fix

feat: add local storge persistence to cart products
  src/contexts/cart.context.tsx
Due: yarn eslint --ext .tsx --fix

chore: change eslint rule
  .eslintrc.json
Due: none

feat: add checkout page and component
  src/App.tsx
  src/components/cart/cart.component.tsx
  src/components/checkout/checkout.component.tsx
  src/components/checkout/checkout.styles.ts
  src/pages/checkout/checkout.page.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add authentication guard to checkout page
  src/App.tsx
  src/components/loading/loading.component.tsx
  src/components/loading/loading.styles.ts
  src/guards/authentication.guard.tsx
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add stripe api integration to checkout
  src/components/checkout/checkout.component.tsx
  src/components/loading/loading.styles.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add payment confirmation page
  src/App.tsx
  src/contexts/cart.context.tsx
  src/pages/payment-confirmation/payment-confirmation.page.tsx
  src/pages/payment-confirmation/payment-confirmation.styles.ts
  src/theme/theme.colors.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add initial redux setup
  package.json
  src/index.tsx
  src/store/root-reducer.ts
  src/store/store.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add user reducer
  package.json
  src/App.tsx
  src/components/header/header.component.tsx
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/store/root-reducer.ts
  src/store/store.ts
  src/store/user/user.reducer.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add more redux types and hooks
  src/hooks/redux.hooks.ts
  src/store/store.ts
  src/store/user/user.action-types.ts
  src/store/user/user.actions.ts
  src/store/user/user.reducer.ts
Due: yarn eslint --ext .ts --fix

chore: add redux setup
  package.json
  src/index.tsx
  src/store/root-reducer.ts
  src/store/store.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add and used User Reducer and User Actions
  package.json
  src/App.tsx
  src/components/header/header.component.tsx
  src/guards/authentication.guard.tsx
  src/index.tsx
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/store/reducers/user.reducer.ts
  src/store/root-reducer.ts
  src/store/store.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

Path conditions:
  yarn eslint --ext .ts --fix: any of: *.ts
  yarn eslint --ext .tsx --fix: any of: *.tsx
