Repository felipemotarocha/club-ecommerce-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

.lintstagedrc.json:

{
  "*.ts": ["yarn eslint --ext .ts --fix"],
  "*.tsx": ["yarn eslint --ext .tsx --fix"]
}

refactor: move user actions to a separate file
  src/App.tsx
  src/components/header/header.component.tsx
  src/store/reducers/user/user.action-types.ts
  src/store/reducers/user/user.actions.ts
  src/store/reducers/user/user.reducer.ts
  src/store/root-reducer.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add separate user actions file and redux typing
  src/App.tsx
  src/components/header/header.component.tsx
  src/hooks/redux.hooks.ts
  src/pages/login/login.page.tsx
  src/pages/sign-up/sign-up.page.tsx
  src/store/reducers/user/user.action-types.ts
  src/store/reducers/user/user.actions.ts
  src/store/reducers/user/user.reducer.ts
  src/store/store.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add Cart Reducer, add product to cart and toggle cart actions
  src/components/cart/cart.component.tsx
  src/components/header/header.component.tsx
  src/components/product-item/product-item.component.tsx
  src/store/reducers/cart/cart.action-types.ts
  src/store/reducers/cart/cart.actions.ts
  src/store/reducers/cart/cart.reducer.ts
  src/store/root-reducer.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: create selectProductsTotalPrice and selectProductsCount selectors
  src/components/cart/cart.component.tsx
  src/components/header/header.component.tsx
  src/store/reducers/cart/cart.reducer.ts
  src/store/reducers/cart/cart.selectors.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: create actions to manipulate cart (remove, increase, decrease and clear products)
  src/components/cart-item/cart-item.component.tsx
  src/pages/payment-confirmation/payment-confirmation.page.tsx
  src/store/reducers/cart/cart.action-types.ts
  src/store/reducers/cart/cart.actions.ts
  src/store/reducers/cart/cart.reducer.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add redux persist to Cart Reducer
  package.json
  src/components/checkout/checkout.component.tsx
  src/index.tsx
  src/store/reducers/cart/cart.reducer.ts
  src/store/reducers/user/user.reducer.ts
  src/store/store.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add types to Cart Reducer
  src/store/reducers/cart/cart.action-types.ts
  src/store/reducers/cart/cart.actions.ts
  src/store/reducers/cart/cart.reducer.ts
Due: yarn eslint --ext .ts --fix

feat: add Category Reducer and its async actions
  package.json
  src/components/categories-overview/categories-overview.component.tsx
  src/components/categories/categories.component.tsx
  src/index.tsx
  src/store/reducers/category/category.action-types.ts
  src/store/reducers/category/category.actions.ts
  src/store/reducers/category/category.reducer.ts
  src/store/root-reducer.ts
  src/store/store.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add redux toolkit and user slice
  package.json
  src/App.tsx
  src/components/header/header.component.tsx
  src/store/root-reducer.ts
  src/store/store.ts
  src/store/toolkit/user/user.slice.ts
  yarn.lock
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add cart slice
  src/components/cart-item/cart-item.component.tsx
  src/components/cart/cart.component.tsx
  src/components/header/header.component.tsx
  src/components/product-item/product-item.component.tsx
  src/pages/payment-confirmation/payment-confirmation.page.tsx
  src/store/root-reducer.ts
  src/store/toolkit/cart/cart.slice.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

feat: add category slice and thunk actions
  src/components/categories-overview/categories-overview.component.tsx
  src/components/categories/categories.component.tsx
  src/store/root-reducer.ts
  src/store/toolkit/category/category.slice.ts
Due: yarn eslint --ext .ts --fix, yarn eslint --ext .tsx --fix

style: add responsiveness to Header component
  src/components/header/header.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Categories and Category Item component
  src/components/categories/categories.styles.ts
  src/components/category-item/category-item.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Category Overview component
  src/components/category-overview/category-overview.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Category Details component
  src/components/category-details/category-details.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Sign Up and Login pages
  src/pages/login/login.styles.ts
  src/pages/sign-up/sign-up.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Product Item component
  src/components/product-item/product-item.styles.ts
Due: yarn eslint --ext .ts --fix

style: add responsiveness to Cart and Checkout component
  src/components/cart/cart.styles.ts
  src/components/checkout/checkout.styles.ts
Due: yarn eslint --ext .ts --fix

test: custom button component
  .eslintrc.json
  src/components/custom-button/custom-button.test.tsx
Due: yarn eslint --ext .tsx --fix

test: add more
  src/components/category-item/category-item.test.tsx
  src/components/category-overview/category-overview.test.tsx
  src/components/input-error-message/input-error-message.test.tsx
  src/components/loading/loading.test.tsx
  src/components/product-item/product-item.test.tsx
Due: yarn eslint --ext .tsx --fix

test: custom input component
  src/components/custom-input/custom-input.test.tsx
Due: yarn eslint --ext .tsx --fix

test: add context tests to cart and header components
  src/components/cart/cart.test.tsx
  src/components/header/header.test.tsx
  src/contexts/cart.context.tsx
  src/contexts/user.context.tsx
  src/utils/test.utils.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure custom button is rendered with correct children
  .eslintrc.json
  src/components/custom-button/custom-button.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure custom input renders with error if hasError is true
  src/components/custom-input/custom-input.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure custom input renders without error if hasError is false
  src/components/custom-input/custom-input.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure custom input changes value on user typing
  src/components/custom-input/custom-input.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure loading shows a message if there is one
  src/components/loading/loading.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure input error message shows red error message
  src/components/input-error-message/input-error-message.spec.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure category item renders received category correctly
  src/components/category-item/category-item.spec.tsx
Due: yarn eslint --ext .tsx --fix

feat: add renderWithRedux helper function
  src/helpers/test.helpers.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure sign out, sign in and sign up button are correctly shown on header
  src/components/header/header.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart products count are correctly shown on header
  src/components/header/header.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart shows correct products
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart shows empty message if its empty and not shows checkout button
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart product quantity is increased on increase click
  src/components/cart-item/cart-item.component.tsx
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart product quantity is decreased on decrease click
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart product is removed on remove click
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart product totals are updated on quantity decrease or increase
  src/components/cart/cart.test.tsx
Due: yarn eslint --ext .tsx --fix

feat: make preloadedState on renderWithRedux optional
  src/helpers/test.helpers.tsx
Due: yarn eslint --ext .tsx --fix

test: ensure cart item shows correct cart item
  src/components/cart-item/cart-item.test.tsx
Due: yarn eslint --ext .tsx --fix
